{% load staticfiles %}
<style type="text/css">
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
        a:link {
  text-decoration: none;
}
</style>
<body background="{% static 'images/onlineFodd2.jpg' %}">
<br>
<br>
<center>
    <table align="center" border="0">
        <tr>

            <th><h1><font color="green">{{ data2 }}</font></h1></th>
            <th>
                <img src="{% static 'images/request.jpg' %}" height="75" width="75">
            </th>
        </tr>

    </table>
    <br>
    <br>
    <br>
    <form action="{% url 'save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" border="2" width="500">
            <tr>
                <th colspan="2" ><font color="red">Food Type:<input type="radio" name="type" value="Veg" required>Veg
                <input type="radio" name="type" value="Non-Veg" required>Non-Veg</font></th>
            </tr>
            <tr>
                <th colspan="2"><font color="red">Food Name:<input type="text" placeholder="Food Name" required name="fn"></font></th>
            </tr>
                     <tr>
                <th colspan="2"><font color="red">Food price:<input type="number" placeholder="Food price" required name="fp"></font></th>
            </tr>
            <tr>
                <th colspan="2" ><font color="red">Food Image:<input type="file"  required name="fi"></font></th>
            </tr>
                <tr>
                    <th><button type="submit">Save</button> </th>
                    <th><a href="{% url 'back' %}"> <h3><font color="green"><img src="{% static 'images/back.png' %}" width="30" height="40">Back</font></h3></a> </th>
            </tr>
        </table>
    </form>
    {% for x in messages %}
        <h1><font color="green">{{x }}</font></h1>
    {% endfor%}
</center>
</body>