{% load staticfiles %}
<html>
<body  background="{% static 'images/onlineFodd2.jpg' %}">
<style type="text/css">
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    a:link{
        text-decoration: none;
    }
</style>
<center>
    <br>
    <br>
    <h1><font color="green">{{ data }}</font> </h1>

{% if food_data %}
<table align="center" border="2" width="700">
<tr>
    <th>Food-Id</th>
    <th>Food-Type</th>
    <th>Food-Name</th>
    <th>Food-Price</th>
    <th>Food-Image</th>
    <th>Update</th>
    <th>delete</th>
</tr>
{% for x in food_data %}
    <tr>
    <th>{{ x.Food_id }}</th>
    <th>{{ x.Food_Type }}</th>
    <th>{{ x.Food_Name }}</th>
    <th>{{ x.Food_price }}</th>
        <th><a href="{{ x.Food_image.url }}"><img src="{{ x.Food_image.url }}" height="40" width="40"></a></th>
        <form action="{% url 'update' %}">
            {% csrf_token %}

        <th><button type="submit" name="update"value="{{ x.Food_id }}">YES</button></th>
            </form>
        <th><a href="{% url 'delete' %}?id={{ x.Food_id }}"><img src="{% static 'images/rubbish-bin.png' %}"></a></th>
    </tr>
{% endfor %}


</table>
    {% else %}
    <h3><font color="red">No Food Items To See</font> </h3>
{% endif %}
<a href="{% url 'back' %}"> <h3><font color="green"><img src="{% static 'images/back.png' %}" width="30" height="40">Back</font></h3></a>
</center>
</body>